body {
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
    background-color:rgb(138, 106, 158);
}

#pageWrapper {
    display: flex;
    justify-content: center;
}

#housing {
    margin-top: 100px;
    outline: solid red 2px;
    width: 400px;
    border-radius: 40px;
    background-color: rgb(41, 51, 78);
}

#display {
    display: inline-block;
    outline: solid green 2px;
    height: 100px;
    width: 100%;
    margin-top: 50px;
}
 #buttonGroup {
    text-align: center;
    width: 90%;
    margin: 20px auto;
 }

.button {
    display: inline-flex;
    justify-content: center;
    margin: 5px;
    background-color: rgb(190, 240, 240);
    outline: solid purple 2px;
    height: 60px;
    width: 20%; /* can't put 20 will figure out why */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    flex-direction: column;
    font-size: 1.25em;
}

.button:hover {
    background-color: rgb(199, 206, 228);
}

#displayText{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
    font-size: 2em;
    background-color: azure;
}

#optionGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option {
    display: inline-block;
    text-align: center;
    border:solid purple 1px;
    background-color: rgb(190, 240, 240);
    width: 40%;
    height: 50px;
    line-height: 50px; /* css trick to vertical align text is to make line height equal to height */
    margin: 10px;
    border-radius: 10px;
    font-size: 1.25em;
}

.option:hover
{
    background-color: rgb(199, 206, 228);
}