body {
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
    background-color:#111;
    color: wheat;
}

button {
    color: wheat;
}

button:hover
{
    color: green;
}

#pageWrapper {
    display: flex;
    justify-content: center;
}

#housing {
    margin-top: 100px;
    border: solid rgba(0, 0, 0, 0) 2px;
    width: 400px;
    border-radius: 40px;
    background-color: rgb(41, 51, 78);
}

#display {
    display: inline-block;
    border: solid rgba(0, 0, 0, 0) 1px;
    height: 100px;
    width: 100%;
    margin-top: 50px;
}
 #buttonGroup {
    text-align: center;
    width: 90%;
    margin: 20px auto;
 }

.button {
    display: inline-flex;
    justify-content: center;
    margin: 5px;
    background-color: rgb(48, 46, 46);
    height: 60px;
    width: 20%; /* can't put 20 will figure out why */
    border: solid 2px rgba(0, 128, 0, 0.233);
    border-radius: 10px;
    flex-direction: column;
    font-size: 1.25em;
    transition: 1s;
}

.button:hover {
    transition: 0s;
    background-color: #0f0;
    box-shadow: 0 0 120px #0f0;
}

#displayText{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-right: 40px;
    font-size: 2em;
    background-color: rgb(48, 46, 46);
}

#optionGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option {
    display: inline-block;
    text-align: center;
    border:solid rgba(0, 128, 0, 0.233) 2px;
    background-color: rgb(48, 46, 46);
    width: 40%;
    height: 50px;
    line-height: 50px; /* css trick to vertical align text is to make line height equal to height */
    margin: 10px;
    border-radius: 10px;
    font-size: 1.25em;
    transition: 1s;
}

.option:hover
{
    transition: 0s;
    background-color: #0f0;
    box-shadow: 0 0 120px #0f0;
    color: green;
}

.operator:focus
{
    background-color: rgb(213, 255, 96);
    color: green;
}

#gitHubImg
{
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: grey;
    width: 40px;
    transition: .75s;
}

#gitHubImg:hover
{
    background-color:#0f0;
    box-shadow: 0 0 120px #0f0;
}
